<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile</title>
    </head>
    <body>
    <h1>Edit Profile</h1>

    <form action='/profile/<%= userId %>' method='PUT'>
            <label for='email'>Email</label>
            <input type='text' name='email' value='<%= email %>'></input>

            <br>
            <label for='password'>New Password</label>
            <input type='password' name='password'></input>

            <br>
            <label for='passwordconfirm'>Confirm Password</label>
            <input type='password' name='passwordconfirm'></input>

            <br>
            <button type="submit">Save</button> 
    </form>

    <h2>Activities</h2>
    <table>
        <thead>
            <tr>
                <th>Activity</th> <th>Skill Level</th> <th>Interest Level</th>
            </tr>
        </thead>
        <% for (let i = 0; i < activities.length; i++) { %>
            <tr>
                <td><%- activities[i].name %></td>
                <td><%- activities[i].skill %></td>
                <td><%- activities[i].interest %></td>
            </tr>
        <% } %>
    </table>

    <h2>Availability</h2>
    <table>
        <thead>
            <tr>
                <th>Monday</th> <th>Tuesday</th> <th>Wednesday</th> <th>Thursday</th> 
                <th>Friday</th> <th>Saturday</th> <th>Sunday</th>
            </tr>
        </thead>
        <% for (let i = 0; i < 48; i++) { %>
            <tr>
                <% for (let j = 0; j < 7; j++) { %>
                    <% if (availability[j][i]) { %>
                        <td height="30" bgcolor="#00FF00" ></td>
                    <% } else { %>
                        <td height="30" bgcolor="#FF0000" ></td>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </table>

    </body>
</html>