<!DOCTYPE html>
<html>
    <head>
        <title>Edit Profile</title>
    </head>
    <body>
    <h1>Edit Profile</h1>

    <form action='/edit/<%= userId %>' method='POST'>
            <label for='email'>New Email</label>
            <input type='text' name='email' value='<%= email %>'></input>

            <br>
            <label for='password'>New Password</label>
            <input type='password' name='password'></input>

            <br>
            <label for='passwordconfirm'>Confirm Password</label>
            <input type='password' name='passwordconfirm'></input>

            <br>
            <button type="submit">Save</button> 
    </form>

    <h2>Activities</h2>
    <table id="activity-table">
        <thead>
            <tr>
                <th>Activity</th> <th>Skill Level</th> <th>Interest Level</th>
            </tr>
        </thead>
        <% for (let i = 0; i < activities.length; i++) { %>
            <tr>
                <td><%- activities[i].name %></td>
                <td>
                    <select id="activity-skill" onchange="changeActivitySkill()">
                        <% for (let j = 1; j <= 5; j++) { %>
                            <option <%= (activities[i].skill == j) ? "selected" : "" %> value="<%= j %>">
                                <%= j %>
                        <% } %>
                    </select>
                </td>
                <td>
                    <select id="activity-interest" onchange="changeActivityInterest()">
                        <% for (let j = 1; j <= 5; j++) { %>
                            <option <%= (activities[i].interest == j) ? "selected" : "" %> value="<%= j %>">
                                <%= j %>
                        <% } %>
                    </select>
                </td>
            </tr>
        <% } %>
    </table>

    <script>
        function changeActivityInterest() {

        }

        function changeActivitySkill() {

        }
    </script>

    <button onclick="addActivitiesRow()">Add Row</button>

    <script>
    function addActivitiesRow() {
        var table = document.getElementById("activity-table");
        var row = table.insertRow(table.rows.length);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        cell1.innerHTML = "";
        cell2.innerHTML = "";
    }
    </script>

    <h2>Availability</h2>
    <table>
        <thead>
            <tr>
                <th>Monday</th> <th>Tuesday</th> <th>Wednesday</th> <th>Thursday</th> 
                <th>Friday</th> <th>Saturday</th> <th>Sunday</th>
            </tr>
        </thead>
        <% for (let i = 0; i < 48; i++) { %>
            <tr>
                <% for (let j = 0; j < 7; j++) { %>
                    <% if (availability[j][i]) { %>
                        <td data-day="<%= j %>" data-min="<%= i %>" height="30" bgcolor="#00FF00" ></td>
                    <% } else { %>
                        <td data-day="<%= j %>" data-min="<%= i %>" height="30" bgcolor="#FF0000" ></td>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </table>

    </body>
</html>