<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
    <h1>Profile <a href='/edit/<%= userId %>'> (edit) </a> </h1>
    <h3>Email: <%- email %> </h3>
    <h2>Activities</h2>
    <table>
        <thead>
            <tr>
                <th>Activity</th> <th>Skill Level</th> <th>Interest Level</th>
            </tr>
        </thead>
        <% for (let i = 0; i < activities.length; i++) { %>
            <tr>
                <td><%- activities[i].name %></td>
                <td><%- activities[i].skill %></td>
                <td><%- activities[i].interest %></td>
            </tr>
        <% } %>
    </table>
    <h2>Availability</h2>
    <table>
        <thead>
            <tr>
                <th></th><th>Monday</th> <th>Tuesday</th> <th>Wednesday</th> <th>Thursday</th> 
                <th>Friday</th> <th>Saturday</th> <th>Sunday</th>
            </tr>
        </thead>
        <% let hour = 0; let minutes = "00"; %>
        <% for (let i = 0; i < availability[0].length; i++) { %>
            <tr>
                <th>
                    <%- hour %>:<%- minutes%>
                    <% hour = (i % 2 == 1) ? hour + 1 : hour; minutes = (minutes == "00") ? "30" : "00"; %>
                </th>
                <% for (let j = 0; j < availability.length; j++) { %>
                    <% if (availability[j][i]) { %>
                        <td height="30" bgcolor="#00FF00" ></td>
                    <% } else { %>
                        <td height="30" bgcolor="#FF0000" ></td>
                    <% } %>
                <% } %>
            </tr>
        <% } %>
    </table>
    </body>
</html>