<!DOCTYPE html>
<html>
    <head>
        <title>Profile <a href='/edit/<%= userId %>'> (edit) </a></title>
    </head>
    <body>
    <h1>Profile</h1>
    <h3>Email: <%- email %> </h3>
    <h2>Activities</h2>
    <table>
        <thead>
            <tr>
                <th>Activity</th> <th>Skill Level</th> <th>Interest Level</th>
            </tr>
        </thead>
        <% for (let i = 0; i < activities.length; i++) { %>
            <tr>
                <td><%- activities[i].name %></td>
                <td><%- activities[i].skill %></td>
                <td><%- activities[i].interest %></td>
            </tr>
        <% } %>
    </table>
    <h2>Availability</h2>
    </body>
</html>